<div>

    <h2>Draft</h2>
    <div class="row">
    	<div class="col-md-8">
			Filter : <input type="text" class="input-sm form-control" ng-model="query">
	    	<div class="table-responsive">
		        <table class="table table-striped">
		            <thead>
		                <tr>
		                	<th>Position</th>
		                    <th>Name</th>
		                    <th>Club</th>
		                    <th></th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr ng-repeat="player in players | filter:query">
		                	<td>{{player.position}}</td>
		                    <td>{{player.name}}</td>
		                    <td>{{player.club.name}}</td>
		                     <td>
		                        <button type="submit" class="btn btn-primary btn-sm">
		                            <span class=" glyphicon glyphicon-ok-circle"></span>&nbsp;<span> Select</span>
		                        </button>
		                    </td>
		                   
		                </tr>
		            </tbody>
		        </table>
		        <nav>
		            <ul class="pagination">
		                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
		                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
		                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
		                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
		                <li class="active"><a>{{page}}</a></li>
		                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
		                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
		                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
		                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
		            </ul>
		        </nav>
	        </div>
        </div>
        
        
        <div class="col-md-4">
		    <div class="list-group">
	            <span class="list-group-item disabled"> <label class="tree-toggler nav-header">Goalkeeper</label> <span class="badge">3</span> </span>
	            <span class="list-group-item"> Lastname Name</span>
	            <span class="list-group-item"> Lastname Name</span>
	            <span class="list-group-item"> Lastname Name</span>
	            
	            <span class="list-group-item disabled"> <label class="tree-toggler nav-header">Defender</label> <span class="badge">6</span> </span>
	            <span class="list-group-item"> Lastname Name</span>
	            <span class="list-group-item"> Lastname Name</span>
	            <span class="list-group-item"> Lastname Name</span>
	            <span class="list-group-item"> Lastname Name</span>
	            <span class="list-group-item"> Lastname Name</span>
	            <span class="list-group-item"> Lastname Name</span>
	            
	            <span class="list-group-item disabled"> <label class="tree-toggler nav-header">Midfielder</label> <span class="badge">6</span> </span>
	            <span class="list-group-item"> Lastname Name</span>
	            <span class="list-group-item"> Lastname Name</span>
	            <span class="list-group-item"> Lastname Name</span>
	            <span class="list-group-item"> Lastname Name</span>
	            <span class="list-group-item"> Lastname Name</span>
	            <span class="list-group-item"> Lastname Name</span>
	            
	            <span class="list-group-item disabled"> <label class="tree-toggler nav-header">Forward</label> <span class="badge">4</span> </span>
	            <span class="list-group-item"> Lastname Name</span>
	            <span class="list-group-item"> Lastname Name</span>
	            <span class="list-group-item"> Lastname Name</span>
	            <span class="list-group-item"> Lastname Name</span>
	            
	            
		    </div>
		</div>
		
		
    </div>
</div>
